In [1]:
import pandas as pd
from joblib import Parallel, delayed
import multiprocessing, time
data = pd.read_csv('3day.csv',sep='\t', keep_default_na=False, header=None, error_bad_lines=False)

In [2]:
import numpy as np
f_data = pd.DataFrame()
tra_data = pd.DataFrame()
val_data = pd.DataFrame()
tes_data = pd.DataFrame()
u_list, s_u_list, pos_list, neg_list = [],[],[],[]
def fun_avg(user,d):
    neg_ratio = 5
    u_list.append(user)
    pos = d[d[3]==1]
    neg = d[d[3]==0]
    l1 = pos.shape[0]
    l2 = neg.shape[0]
    assert l1+l2 == d.shape[0]
    pos=pos.reset_index(drop=True)
    neg=neg.reset_index(drop=True)
    if l1>=3 and not neg.empty:
        s_u_list.append(user)
        pos_list.append(l1)
        neg_list.append(l2)
#    sample train.validation.test
        if l2 >= neg_ratio*l1:
            s_neg = neg[:neg_ratio*l1]
        else:
            s_neg = neg
        s_data = pd.concat([pos,s_neg],ignore_index=True).sample(frac=1).reset_index(drop=True)
        tra_data = s_data[:int(s_data.shape[0]*0.7)]
        val_data = s_data[int(s_data.shape[0]*0.7):int(s_data.shape[0]*0.8)]
        tes_data = s_data[int(s_data.shape[0]*0.8):]
        return s_data, tra_data, val_data, tes_data

def applyParallel(dfGrouped, func):
    res = Parallel(n_jobs=multiprocessing.cpu_count())(delayed(func)(name,group) for name, group in dfGrouped)
    res = list(filter(None, res))
#     print(res)
    d = [item[0] for item in res]
    t = [item[1] for item in res]
    v = [item[2] for item in res]
    s = [item[3] for item in res]
    return pd.concat(d, ignore_index=True),pd.concat(t, ignore_index=True),pd.concat(v, ignore_index=True),pd.concat(s, ignore_index=True)

t1=time.time()
f_data, tra_data, val_data, tes_data = applyParallel(data.groupby(0),fun_avg)
print(time.time()-t1)
f_data

1691.128473520279

,0,1,2,3,4,5,6
0,100006,1592973545,3293810552_2247539567_1,0,3293810552,0,220432880
1,100006,1592973545,3276299345_2247510078_1,1,3276299345,0,575290460
2,100006,1592973545,3005095618_2650885876_3,0,3005095618,0,76311665
3,100006,1592993789,3203003417_2756651445_1,1,3203003417,1,129601935
4,100006,1592993789,2392054666_2247483687_1,0,2392054666,0,633367160
5,100006,1592993789,3073282833_2650790708_1,0,3073282833,0,76311665
6,100006,1592973545,2396007240_2651986562_1,0,2396007240,0,1272418200
7,100006,1592973545,3019879717_2247490895_1,0,3019879717,0,76311665
8,100006,1592973545,3000504818_2652667535_1,0,3000504818,0,"720965141,1530438340"
9,100006,1592993789,3237377160_2247549548_2,1,3237377160,0,"403918720,114275"
10,100006,1592993789,3555139393_2247497492_1,0,3555139393,0,"341615575,10347665"
11,100008,1592963625,3862141161_2247485004_1,0,3862141161,1,2173512421
12,100008,1592963588,3265037817_2247487242_1,0,3265037817,0,2322549061
13,100008,1593076382,3874083370_2247492609_1,0,3874083370,0,"149588,17716175,283685,1145279541,1530438340,1..."
14,100008,1593049283,2391309580_2654823259_1,0,2391309580,0,76311665
15,100008,1593049283,3019175383_2653004052_1,0,3019175383,0,1375444540
16,100008,1593134905,3220072307_2455848346_1,0,3220072307,0,219670335
17,100008,1593079589,3091745305_2650721206_1,0,3091745305,0,148922
18,100008,1592986171,3095861100_2658592075_2,0,3095861100,0,1340485942
19,100008,1593049283,3210821345_2247490511_1,1,3210821345,0,136368
20,100008,1593049283,2390957431_2653351499_6,0,2390957431,0,1783531440
21,100008,1593177129,2391437564_2651682769_1,0,2391437564,0,148922
22,100008,1593134905,3097202430_2650072638_2,0,3097202430,0,14312775
23,100008,1592986171,3073282833_2650790708_1,1,3073282833,0,76311665
24,100008,1593049218,2396491298_2651752194_1,1,2396491298,0,"2219101401,105565360,6532655"
25,100008,1593076382,3559324711_2247489100_1,0,3559324711,0,"575024455,2473948684"
26,100008,1593177248,2396057100_2651010978_1,1,2396057100,0,575024455
27,100008,1593049218,2396392481_2651625206_1,0,2396392481,0,"415600075,191666375"
28,100008,1592986171,3543955808_2247487167_1,1,3543955808,0,558311695
29,100008,1592996146,3241456001_2247485501_1,0,3241456001,0,389002975
...,...,...,...,...,...,...,...
2905028,4005150069,1593046266,3528952126_2247483714_1,0,3528952126,0,2679204219
2905029,4005150069,1593144234,3014073958_2652996139_1,0,3014073958,0,1830883709
2905030,4005150069,1593144480,2395468832_2653627452_1,0,2395468832,0,678739015
2905031,4005150069,1593046266,3587878601_2247487070_1,0,3587878601,0,526296880
2905032,4005150069,1592962028,2395083068_2651747433_2,0,2395083068,0,2679204219
2905033,4005150069,1593144176,3201306919_2247484422_1,1,3201306919,0,526296880
2905034,4005150069,1593046266,3098763650_2652449915_3,0,3098763650,0,526296880
2905035,4005150069,1593144176,3282179238_2651144986_1,1,3282179238,0,526296880
2905036,4005150069,1592962028,3278242243_2247483711_1,1,3278242243,0,526296880
2905037,4035117691,1593080771,3510544829_2247489483_1,0,3510544829,0,1605646482
2905038,4035117691,1593169584,2392014380_2666327029_1,1,2392014380,0,"1807044519,1315460000"
2905039,4035117691,1593081914,2399283414_2651926836_1,0,2399283414,0,1333600360
2905040,4035117691,1593081914,3583809186_2247484203_1,0,3583809186,0,2013959380
2905041,4035117691,1593169584,3599164628_2247484590_1,0,3599164628,0,"1455977381,1745304500"
2905042,4035117691,1593080771,2392736495_2649830998_1,0,2392736495,0,1197278924
2905043,4035117691,1593080771,3546916817_2247490470_1,0,3546916817,0,1197278924
2905044,4035117691,1593080771,3093157843_2651310978_1,1,3093157843,0,371802775
2905045,4035117691,1593081089,2392014380_2666326959_1,0,2392014380,0,175959
2905046,4035117691,1593081089,3227722243_2247485414_1,1,3227722243,0,371802775
2905047,4035117691,1593169584,3278369592_2247489230_1,0,3278369592,0,800633760
2905048,4035117691,1593081914,3295060170_2649991576_1,0,3295060170,0,763040883
2905049,4035117691,1593080771,3874083370_2247492609_1,0,3874083370,0,"1427018521,371802775"
2905050,4035117691,1593080771,3096058685_2651000626_1,0,3096058685,0,2405934620
2905051,4035117691,1593169584,3201165956_2247489406_1,0,3201165956,0,"2632862522,1427018521,2473089862,622757661"
2905052,4035117691,1593081089,2392014380_2666326887_1,0,2392014380,0,1315460000
2905053,4035117691,1592999814,3080148653_2652314700_1,0,3080148653,0,1582585740
2905054,4035117691,1593169584,2395651080_2671583286_1,1,2395651080,0,1335794580
2905055,4035117691,1593081089,2393795959_2653076386_1,0,2393795959,0,1427018521
2905056,4035117691,1593080771,3568815275_2247483677_1,1,3568815275,0,1197278924
2905057,4035117691,1593081914,3297743580_2247487570_1,0,3297743580,0,2400968440

In [3]:
f_max_len=20
user_set = set(tra_data[0])
item_set = set(tra_data[2])
biz_set = set(tra_data[4])
user_set.update([item for sublist in tra_data[6] for item in list(map(lambda x: int(x),sublist.split(',')[:f_max_len]))])
user_map = dict(zip(user_set,range(1,len(user_set)+1)))
item_map = dict(zip(item_set,range(1,len(item_set)+1)))
biz_map = dict(zip(biz_set,range(1,len(biz_set)+1)))

In [4]:
tes_data = tes_data[(tes_data[2].isin(item_set))&(tes_data[4].isin(biz_set))]
tes_data[6] = tes_data[6].map(lambda x: ','.join([y for y in x.split(',')[:f_max_len] if int(y) in user_set]))
tes_data = tes_data[tes_data[6]!='']
val_data = val_data[(val_data[2].isin(item_set))&(val_data[4].isin(biz_set))]
val_data[6] = val_data[6].map(lambda x: ','.join([y for y in x.split(',')[:f_max_len] if int(y) in user_set]))
val_data = val_data[val_data[6]!='']

In [ ]:
max(map(lambda x:len(x),list(user_friends.values())))

In [5]:
tra_data[0] = tra_data[0].map(lambda x: user_map[x])
tra_data[2] = tra_data[2].map(lambda x: item_map[x])
tra_data[4] = tra_data[4].map(lambda x: biz_map[x])
tra_data[6] = tra_data[6].map(lambda x: [user_map[int(y)] for y in x.split(',')[:f_max_len]])
tra_data=tra_data.drop([1], axis=1)
val_data[0] = val_data[0].map(lambda x: user_map[x])
val_data[2] = val_data[2].map(lambda x: item_map[x])
val_data[4] = val_data[4].map(lambda x: biz_map[x])
val_data[6] = val_data[6].map(lambda x: [user_map[int(y)] for y in x.split(',')[:f_max_len]])
val_data=val_data.drop([1], axis=1)
tes_data[0] = tes_data[0].map(lambda x: user_map[x])
tes_data[2] = tes_data[2].map(lambda x: item_map[x])
tes_data[4] = tes_data[4].map(lambda x: biz_map[x])
tes_data[6] = tes_data[6].map(lambda x: [user_map[int(y)] for y in x.split(',')[:f_max_len]])
tes_data=tes_data.drop([1], axis=1)
f_data = pd.concat([tra_data, val_data, tes_data],ignore_index=True)
tra_data

,0,2,3,4,5,6
0,52707,9886,0,148527,0,[124344]
1,52707,258764,1,15034,0,[354883]
2,52707,260527,0,88454,0,[430681]
3,52707,302640,1,81625,1,[331982]
4,52707,128258,0,160659,0,[14428]
5,52707,56511,0,107494,0,[430681]
6,52707,247651,0,7041,0,[262986]
7,52709,44674,0,150053,1,[456526]
8,52709,342092,0,21792,0,[529420]
9,52709,51930,0,76049,0,"[80418, 496205, 151546, 125775, 299982, 10012,..."
10,52709,188361,0,20300,0,[430681]
11,52709,71625,0,40135,0,[402890]
12,52709,44866,0,100415,0,[274927]
13,52709,252316,0,12104,0,[80021]
14,52709,174765,0,129036,0,[215875]
15,52709,112186,1,52043,0,[73067]
16,52709,302814,0,130056,0,[503356]
17,52709,142511,0,101931,0,[80021]
18,52709,273913,0,148450,0,[360384]
19,52709,56511,1,107494,0,[430681]
20,52709,216771,1,148331,0,"[167870, 374486, 129313]"
21,52709,3966,0,124510,0,"[215338, 190625]"
22,52709,4667,1,38824,0,[215338]
23,52709,107705,0,85432,0,"[193845, 436648]"
24,52709,105778,1,19705,0,[249096]
25,52709,112230,0,28970,0,[544324]
26,52709,102139,0,91705,0,[503356]
27,52709,209663,0,41803,0,[532332]
28,52709,223394,0,41803,0,[287886]
29,52709,258092,0,1620,0,[156345]
...,...,...,...,...,...,...
1990144,337861,238289,0,80907,0,[507553]
1990145,337861,307779,1,112905,0,[507553]
1990146,337861,230470,0,33633,0,[507553]
1990147,337861,67147,0,7160,0,[507553]
1990148,337861,82975,0,13141,0,[256143]
1990149,337861,58189,0,164395,0,[507553]
1990150,337861,58894,0,157416,0,[61636]
1990151,337861,123453,0,86278,0,[517097]
1990152,337861,120182,0,164395,0,[507553]
1990153,337861,230334,0,130477,0,[507553]
1990154,337861,213322,1,79841,0,[507553]
1990155,337861,276947,0,62645,0,[507553]
1990156,337861,343000,0,94287,0,[61636]
1990157,337861,330317,0,89998,0,[61636]
1990158,337861,101519,0,142684,0,[48764]
1990159,337861,80514,0,147536,0,[48764]
1990160,106206,193954,0,111158,0,[147799]
1990161,106206,127382,1,135304,0,"[185529, 289328]"
1990162,106206,84713,0,90122,0,[455128]
1990163,106206,120036,0,24550,0,[366933]
1990164,106206,183917,0,120678,0,"[293494, 251635]"
1990165,106206,219269,0,94378,0,[451668]
1990166,106206,83339,0,69140,0,[451668]
1990167,106206,321432,1,77026,0,[321341]
1990168,106206,246907,0,135304,0,[94996]
1990169,106206,171887,1,130786,0,[321341]
1990170,106206,15,0,164441,0,[302223]
1990171,106206,79191,0,109677,0,[384221]
1990172,106206,51930,0,76049,0,"[504922, 321341]"
1990173,106206,266412,0,87887,0,[266022]

In [6]:
from collections import defaultdict
user_packages=dict()
user_items=dict()
user_bizs=dict()
user_friends=dict()
pack_neighbors_b=defaultdict(list)
pack_neighbors_f=defaultdict(list)

t1=time.time()
for u,d in f_data.groupby([0]):
# def fun_avg1(u,d):
#     global pack_neighbors_f
    i = list(d[2])
    b = list(d[4])
    f = list(map(lambda x: x+[0]*(f_max_len-len(x)),d[6]))
    packages = list(zip(i,b,f))
    for index in range(len(packages)):
        for j in range(index+1,len(packages)):
            a = set(packages[index][2]) & set(packages[j][2])-{0}
            if a and packages[index][0] != packages[j][0]:
                pack_neighbors_f[str(u)+'_'+str(packages[index][0])].append((len(a),packages[j]))
                pack_neighbors_f[str(u)+'_'+str(packages[j][0])].append((len(a),packages[index]))
    for item in set(i):
        try:
            pack_neighbors_f[str(u)+'_'+str(item)].sort(key=lambda x:x[0], reverse = True)
            pack_neighbors_f[str(u)+'_'+str(item)] = list(map(lambda x: x[1],pack_neighbors_f[str(u)+'_'+str(item)]))
        except:
            print(pack_neighbors_f[str(u)+'_'+str(packages[index][0])])
print(time.time()-t1)
                
t1=time.time()
for name,d in f_data.groupby([0,4]):
# def fun_avg2(name,d):
#     global pack_neighbors_b
    if d.shape[0]>1:
        i = list(d[2])
        b = list(d[4])
        f = list(map(lambda x: x+[0]*(f_max_len-len(x)),d[6]))
        packages = list(zip(i,b,f))
        for index in range(len(packages)):
            tmp = packages.copy()
            del tmp[index]
#             print(name[0],packages[index][0])
            pack_neighbors_b[str(name[0])+'_'+str(packages[index][0])] = tmp
print(time.time()-t1)

t1=time.time()
for user,d in tra_data.groupby(0):
# def fun_avg3(user,d):
#     global user_packages
    pos = d[(d[3]==1)]
    b_pos = d[(d[5] == 1)]
    i = list(pos[2])
    b = list(pos[4])
    f = list(map(lambda x: x+[0]*(f_max_len-len(x)),pos[6]))
    f_ = list(pos[6])
    b_ = list(b_pos[4])
    user_packages[user]=list(zip(i,b,f))
    user_items[user]=i
    user_bizs[user]=b_
    user_friends[user]=[item for sublist in f_ for item in sublist]
print(time.time()-t1)

200.41934895515442
285.352374792099
131.22755193710327

In [7]:
sum(list(tra_data[3]))/len(set(tra_data[0]))

4.624464425167268

In [8]:
tra_data=tra_data.sample(frac=1).reset_index(drop=True)
tra_data

,0,2,3,4,5,6
0,517628,123135,1,22700,0,[533792]
1,237527,279662,1,112790,0,[364389]
2,306337,117977,0,11744,0,[248088]
3,286909,307025,0,157503,0,[531033]
4,344566,164803,1,80067,0,"[19430, 257575]"
5,324995,116803,0,147734,1,"[284539, 404382]"
6,438229,270496,0,12746,0,[3482]
7,27373,310576,0,71476,0,"[107543, 287062]"
8,154484,51665,0,120234,0,[484088]
9,516095,50338,0,88834,0,[64685]
10,265483,310576,0,71476,0,[285633]
11,443386,108497,0,91768,0,[209491]
12,336787,70307,0,112292,1,[338727]
13,511125,218833,0,10513,0,[437578]
14,65977,58195,0,139628,0,[73172]
15,475054,228480,0,60039,0,[481514]
16,36094,188869,0,58141,0,"[220473, 532665, 495901, 465006, 208837, 130448]"
17,54212,30049,0,152840,0,[358660]
18,374351,287144,0,83878,0,[217587]
19,354955,281898,0,3839,1,[190602]
20,243049,24114,1,139707,0,[77174]
21,66231,205481,0,19682,0,"[155749, 261036]"
22,361947,20557,1,32138,0,[339901]
23,69781,16431,1,65754,1,[484303]
24,461049,168140,1,39077,0,[176007]
25,405214,87242,0,57378,0,[323824]
26,128821,323770,0,83976,0,[275558]
27,346413,306048,0,35209,0,[308412]
28,238628,107877,0,57778,0,[121221]
29,519561,51930,0,76049,0,"[361279, 91899, 318319, 434677, 426927]"
...,...,...,...,...,...,...
1990144,242261,283606,1,40339,0,[314880]
1990145,175012,132306,1,155776,1,[294582]
1990146,282741,127373,0,155609,0,[83780]
1990147,342556,139345,0,134901,0,[274744]
1990148,179263,92053,0,66179,0,[370038]
1990149,144609,84314,0,135304,0,[403779]
1990150,419919,240802,0,25891,0,[412531]
1990151,105954,182565,0,11513,0,[461587]
1990152,550207,322625,0,155922,0,[46947]
1990153,241173,333627,0,79275,0,[425249]
1990154,413136,235760,0,24639,0,[116848]
1990155,521847,38225,0,28163,0,[145206]
1990156,142244,207104,1,78502,0,[507149]
1990157,72540,252171,0,140917,0,[230703]
1990158,398595,136081,0,99480,0,[351747]
1990159,550059,324465,1,71728,0,[351920]
1990160,263453,336572,0,89440,0,[188902]
1990161,532466,205619,0,14974,1,[45819]
1990162,140054,138685,0,34182,0,[272533]
1990163,42643,145857,0,104610,0,[512857]
1990164,212145,155425,1,93988,0,[56924]
1990165,499187,219269,0,94378,0,[73336]
1990166,278224,168889,0,130056,0,[119664]
1990167,242955,106795,0,94161,0,[314489]
1990168,103795,225177,0,2016,0,[295468]
1990169,368491,92338,0,62097,0,[432163]
1990170,377430,255766,0,75551,0,"[54321, 487076]"
1990171,495777,231065,1,36721,0,[534220]
1990172,180063,254685,0,106363,0,[97861]
1990173,387952,82952,0,157302,0,[533957]

In [9]:
import tensorflow as tf
import copy
# val_lable = val_data.pop(3)
# tes_lable = tes_data.pop(3)
# tra_lable = tra_data.pop(3)

def to_list(l):
    res = []
    for i in l:
        res.append(i[0])
        res.append(i[1])
        res.extend(i[2])
    return res

def to_tfrecords1(features,file):
    writer=tf.python_io.TFRecordWriter(path=file)
    size = features.shape[0]
    for i in range(size):
        pack = str(features.iloc[i][0])+'_'+str(features.iloc[i][2])
        u_i = copy.deepcopy(user_items[features.iloc[i][0]])
        u_b = copy.deepcopy(user_bizs[features.iloc[i][0]])
        u_f = copy.deepcopy(user_friends[features.iloc[i][0]])
#         print(features.iloc[i][2],features.iloc[i][4],features.iloc[i][6])
#         print(u_i,u_b,u_f)
        u_p = copy.deepcopy(user_packages[features.iloc[i][0]])
#         print(u_p)
        if features.iloc[i][3] == 1:
            u_i.remove(features.iloc[i][2])
#             u_b.remove(features.iloc[i][4])
            for x in features.iloc[i][6]:
                u_f.remove(x)
#             print('-------',u_i,u_b,u_f)
            for j,x in enumerate(u_p):
                if x[0] == features.iloc[i][2]:
                    del u_p[j]
                    break
#             print('-------------------')
#             print(features.iloc[i])
#             print(u_p)
        example=tf.train.Example(
            features=tf.train.Features(
                feature={
                    "user":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][0]])),
                    "item":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][2]])),
                    "biz":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][4]])),
                    "friends":tf.train.Feature(int64_list=tf.train.Int64List(value=features.iloc[i][6])),
                    "user_items":tf.train.Feature(int64_list=tf.train.Int64List(value=u_i)),
                    "user_bizs":tf.train.Feature(int64_list=tf.train.Int64List(value=u_b)),
                    "user_friends":tf.train.Feature(int64_list=tf.train.Int64List(value=u_f)),
                    "user_packages":tf.train.Feature(int64_list=tf.train.Int64List(value=to_list(u_p[:50]))),
                    "pack_neighbors_b":tf.train.Feature(int64_list=tf.train.Int64List(value=to_list(pack_neighbors_b[pack][:20]))),
                    "pack_neighbors_f":tf.train.Feature(int64_list=tf.train.Int64List(value=to_list(pack_neighbors_f[pack][:20]))),
                    "f_max_len":tf.train.Feature(int64_list=tf.train.Int64List(value=[f_max_len])),
                    "n_users":tf.train.Feature(int64_list=tf.train.Int64List(value=[len(user_map)])),
                    "n_items":tf.train.Feature(int64_list=tf.train.Int64List(value=[len(item_map)])),
                    "n_bizs":tf.train.Feature(int64_list=tf.train.Int64List(value=[len(biz_map)])),
                    "label":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][3]])),
                    "label2":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][5]]))
                }
            )
        )
        writer.write(record=example.SerializeToString())

    writer.close()


def to_tfrecords(features,file):
    writer=tf.python_io.TFRecordWriter(path=file)
    size = features.shape[0]
    for i in range(size):
        pack = str(features.iloc[i][0])+'_'+str(features.iloc[i][2])
#         print(features.iloc[i][5])
        example=tf.train.Example(
            features=tf.train.Features(
                feature={
                    "user":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][0]])),
                    "item":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][2]])),
                    "biz":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][4]])),
                    "friends":tf.train.Feature(int64_list=tf.train.Int64List(value=features.iloc[i][6])),
                    "user_items":tf.train.Feature(int64_list=tf.train.Int64List(value=user_items[features.iloc[i][0]][:50])),
                    "user_bizs":tf.train.Feature(int64_list=tf.train.Int64List(value=user_bizs[features.iloc[i][0]][:50])),
                    "user_friends":tf.train.Feature(int64_list=tf.train.Int64List(value=user_friends[features.iloc[i][0]][:50*f_max_len])),
                    "user_packages":tf.train.Feature(int64_list=tf.train.Int64List(value=to_list(user_packages[features.iloc[i][0]][:50]))),
                    "pack_neighbors_b":tf.train.Feature(int64_list=tf.train.Int64List(value=to_list(pack_neighbors_b[pack][:20]))),
                    "pack_neighbors_f":tf.train.Feature(int64_list=tf.train.Int64List(value=to_list(pack_neighbors_f[pack][:20]))),
                    "f_max_len":tf.train.Feature(int64_list=tf.train.Int64List(value=[f_max_len])),
                    "n_users":tf.train.Feature(int64_list=tf.train.Int64List(value=[len(user_map)])),
                    "n_items":tf.train.Feature(int64_list=tf.train.Int64List(value=[len(item_map)])),
                    "n_bizs":tf.train.Feature(int64_list=tf.train.Int64List(value=[len(biz_map)])),
                    "label":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][3]])),
                    "label2":tf.train.Feature(int64_list=tf.train.Int64List(value=[features.iloc[i][5]]))
                }
            )
        )
        writer.write(record=example.SerializeToString())

    writer.close()

to_tfrecords1(tra_data,'train_f1.tfrecords')
to_tfrecords(val_data,'validation_f1.tfrecords')
to_tfrecords(tes_data,'test_f1.tfrecords')

/home/lc/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [10]:
print(max(list(map(lambda x: len(x),user_packages.values()))),max(list(map(lambda x: len(x),pack_neighbors_b.values()))),max(list(map(lambda x: len(x),pack_neighbors_f.values()))))
print(len(user_map),len(item_map),len(biz_map))

79 91 220
554237 344087 166465

In [ ]:
tra_data.to_csv('3day_tra.csv',sep='\t',header=0,index=0)
val_data.to_csv('3day_val.csv',sep='\t',header=0,index=0)
tes_data.to_csv('3day_tes.csv',sep='\t',header=0,index=0)